<div class="about" id="about">

	<h1>&#8828;&#8828;&#8828; Welcome, I'm so happy your're here </h1>

		<p>My name is Nathalie, I am a web develper in the making and I enjoy learning how to create beautiful and positive websites/ blogs online. I started this blog as part of my assignment with Career Foundry in July 2017 and with the help from my sister came up with a name that summed up the journey that my wonderful husband Ryan and I have had so far, with a play on words using our surname "Cary".</p>

		<p>You should know that I am obsessed with trying new things (to a degree) and Ryan and I have been so lucky to have had the opportunity to explore places that have really made our jaws drop.</p>

		<p>I believe in sharing, therefore this is my gift to you, this blog is all about celebrating the wonderful world that we live in, I hope you enjoy. </p>

</div>