<div class="contact" id="contact">
	<div class="row">
     <div class="col-md-4">
       <h3>Mobile:<br> +64 27 4249770</h3>
     </div>
        
     <div class="col-md-4">
       <h3>Email:<br> Nathalie19@live.co.za</h3>
     </div>
      
     <div class="col-md-4">
        <h3>Address:<br> Tauranga, New Zealand</h3>
     </div>
   </div>

   <div class="contact_star">
    <div class="col-md-4">
       <p>***</p>
    </div>
        
    <div class="col-md-4">
      <p>**</p>
    </div>
      
    <div class="col-md-4">
      <p>*</p>
    </div>
    </div>