<p id="notice"><%= notice %></p>

<div class="container adventures">
	<div class="row">
		<div class="col-md-9">
			<h1>Articles</h1><span id="new_art"><%= link_to 'New Article', new_article_path %></span>
		</div><!--/col-->
	</div><!--/row-->


  <div class="row">
      <%= render @articles %>
  </div><!--/row-->
</div><!--/container-->

  
<br>




