// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Font Family */
$sans-serif: 'Wendy One';
$serif: 'Montez', cursive;

/*make sidebar nav vertical*/ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

body {
	
}

/* Navigation */
.sidebar-nav .navbar ul li a {
	font-size: 1.5em;
	text-decoration: none;
	color: #B284BE;
	background-color: transparent;
	line-height: 50px;
}

.sidebar-nav .navbar ul li a:hover {
	font-size: 2.2em;
	text-decoration: none;
	color: #eee;
	background-color: transparent;

}

.site-title {
	margin-top: 100px;
	font-family: $sans-serif;
	color: #23527c;
}

/* Header */
.my_travel {
	margin-left: 170px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.circle {
	margin: 30px 60px;
	width: 100px;
	height: 100px;
	border: 5px dotted #eee;
	border-radius: 50%;
	line-height: 5px;
	text-align: center;
	background: #fff;
	display: inline-block;
	padding: 10px;
	float: right;
}

.circle:hover {
	-moz-transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-o-transform: rotate(100deg);
}

.circle h3 {
	font-family: $serif;
	color: #337ab7;
}

.circle h3:hover {
	color: #B284BE;
	font-weight: bolder;
}

/* Carousel */
.carousel_image {
	width: 100%;
	height: 100%;
}

.circle_group {
	display: inline-block;
}

/* About */

.about h1 {
	color: #23527c;
	font-family: $serif;
}

.about p {
	color: #23527c;
	font-family: sans-serif;
	font-size: 1.20em;
}

/* Contact */
.contact h3 {
	color: #337ab7;
	font-family: $serif;
	font-size: 2em;
}

.contact_star {
	color: #eee;
}

/* Footer */
.my_image {
	width: 200px;
	height: 200px;
	border: 5px dotted #23527c;
	border-radius: 50%;

	
}

footer {
	padding: 10px;
	margin-top: 30px;
	color: #23527c;
	margin-left: 100px;
}

